[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
.vscode/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.suo
*.tmp
*.userprefs
*.ncb
*.pdb
*.mdb
.DS_Store